{% extends 'base.html.twig' %}

{% block body %}

                    <div>
                        <a href="#" class="btn btn-default navbar-btn">Créer un répertoire</a>
                        <a href="#" class="btn btn-default navbar-btn">Accéder à un répertoire</a>
                    </div>
{% endblock %}